/* body{
    background-color: rgb(245, 245, 245);
}
#heading h1{
    background-color: #FC766AFF;
    color:#5B84B1FF;
    padding: 50px;
} */
#main-heading{
    background-color: #9575cd;
    color:floralwhite;

}
.navigate{
    margin:20px;
}
.button-style{
    margin-right:30px;
}
.button-style a{
    text-decoration: none;
    color: floralwhite;
}
.scroll{
    margin-top:15px;
    color:rgb(99, 99, 153);
    font-size: 15px;
    margin: 30px 60px;
    border-left: 4px solid rgb(97, 97, 153);
}
.navbar-login{
    display: flex;
    justify-content:center;
    align-self:center;
    border-left:2px solid rgb(200, 201, 206); 
    padding-left: 20px;
}
.Hone{
    color:cornflowerblue;
}
.Htwo{
    color: cornsilk;
}
.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin:0px auto;
    padding:50px 5px;
    border-bottom:1.5px ridge;
    min-height:40px;
}
.footer{
    background-color: #d1c4e9;
    padding:20px;
} 
.jumbotron{
    padding:70px 30px;
    margin:0px auto;
    background-color: #9575cd;
    color:floralwhite;
}
.contact{
    margin-top: 10px;
}
.container a{
    text-decoration:none;
}
/* .container a:hover{
    text-decoration:underline;
} */

/* .address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
} */
body{
    padding-top:50px;
    /*I D k*/    
    z-index:0;   
}
.navbar-dark{
    background-color: #512dae;
}
i{
    font-size: 25px;
}
.breadcrumb{
    padding: 20px;
    background-color: #dcd9e4;
    border-radius: 4px;
}
.forms div div{
    margin-top: 10px;
}
.card-margins{
    margin-top: 10px;
}
.card-margins div{
    margin-top: 10px;
}
.carousel{
    background:#512da8;
    min-height:200;
}
.carousel-item{
    height:200px;
}
#carousel-buttons{
    right: 0px;
    position:absolute;
    bottom:0px;
}
#ReserveForm-1 div{
    padding: 4px;
}
.close{
    color: white;
    background-color: #512da8;
    border: none;
}
.modal-header{
    color:floralwhite;
    background-color: #512da8;
}
.modal-body{
    background-color:#d1c4e9;
}
.modal-content{
    padding: 1px;
   
}
.form-row-end button{
    margin-right: 5px;
}
